{{#each this}}
  <li id='{{id}}' class='js-item item'>
    <div class='movie__markup__img'>
      <img
        src={{poster_path}}
        alt={{title}}
        width='300px'
        height='450px'
      />
    </div>
    <p>Title: {{original_title}}</p>
    <p>Release date: {{release_date}}</p>
    <p>Rating: {{vote_average}}</p>
  </li>
{{/each}}