<div id='{{id}}' class='modal-body'>
  <div class='modal-content'>
    <div>
      <img
        class='modal-img'
        src={{poster_path}}
        alt={{title}}
      />
    </div>
    <div class='description'>
      <h2>{{title}}</h2>
      <p>Жанр: {{genres}}</p>
      <p>Дата выхода: {{release_date}}</p>
      <p>Оценка/всего проголосовало: {{vote_average}}/{{vote_count}}</p>
      <p>Популярность: {{popularity}}</p>
      <h3>Описание:</h3>
      <p>{{overview}}</p>
      <div class='modal-btns'>
        <button id='{{id}}' class='modalBtn js-btn-watched'>Add to watched</button>
        <button id='{{id}}' class='modalBtn js-btn-queue'>Add to queue</button>
      </div>
    </div>
  </div>
</div>